#body {
    background-color: #87CEEB; 
    font-family: 'Arial', sans-serif; 
    color: #333;
    margin: 0;
    padding: 20px;
}

h1 {
    text-align: center;
    font-size: 2em;
    margin-bottom: 20px;
    color: rgb(140, 68, 221);
}

form {
    text-align: center;
}

table {
    margin: 20px auto;
    border-collapse: collapse;
    width: 50%;
    background-color: hwb(310 60% 6%); 
}

th, td {
    border: 1px solid black;
    padding: 10px;
    text-align: center;
}

button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
}

#result {
    text-align: center;
    font-size: 1.2em;
    margin-top: 20px;
}
