* {
	margin: 0;
	padding: 0;
}
body {
    font-family: Arial, sans-serif;
  }
  #inputText, #outputText {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
  }
  #outputText {
    border: 1px solid #ccc;
    min-height: 50px;
    padding: 10px;
  }
  #outputText span {
    font-weight: bold;
  }
  #invertButton {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
